nav.navbar.is-light.is-fixed-top
  div.navbar-brand
    a.store-logo.navbar-item(href=`${routes.home.index}`)
      strong= site.title
    a.navbar-burger(data-target="navbarMenu")
      span
      span
      span
  div#navbarMenu.navbar-menu
    div.navbar-start
      each tab in navbar.tabs
        if !tab.hasDropdown
          a.navbar-item(href=`${tab.href}`)= tab.label
        else
          div.navbar-item.has-dropdown.is-hoverable
            a.navbar-link= tab.label
            div.navbar-dropdown
              each dtab in tab.tabs
                a.navbar-item(href=`${dtab.href}`)= dtab.label
    div.navbar-end
      if user
        div.navbar-item
          | Hello, #{user.username}
      div.navbar-item
        div.buttons
          if !user
            a.button.is-light(href= `${routes.auth.signup}`)
              strong Sign up
            a.button.is-light(href= `${routes.auth.login}`) 
              | Log in
          else
            a.button.is-light(href= `${routes.cart.show}`) 
              strong Cart
            a.button.is-light(href= `${routes.auth.logout}`)
              | Log out
