mixin product-card(product)
  .product-card
    .product-card-header
      .name
        a.is-size-4.has-text-weight-bold.has-text-dark( href
          = `${routes.substituteParameters(routes.product.show, product.id)}`
        )= product.name
      .price
        h2.is-size-4.has-text-weight-bold= `${product.price}$`
    .content
      p= product.summary
        a.read-more(href
          = `${routes.substituteParameters(routes.product.show, product.id)}`
        )  read more
    if user
      button.button.cart-button.add-to-cart(data-id=`${product.id}`) Add to cart
    else
      a.button.cart-button(href=`${routes.auth.login}`) Add to cart
