extends ../layout/layout.pug

block content
  section.product-creeate
    .container.form-card.mt-6.mb-6
      .header
        h1.title Edit product
      form(action=(href= `${routes.product.edit}`) method="post")
        input(type="hidden" name="id" value=`${product.id}`)
        .field-group
          label.label Description
          .field
            .control
              input.input(
                type="text" 
                placeholder="Product name" 
                name="name"
                value=`${product.name}`
              )
          .field
            .control
              textarea.textarea(
                placeholder="Product summary"
                name="summary"
              )= product.summary
          .field
            .control
              textarea.textarea(
                placeholder="Product description" 
                name="description"
              )= product.description
        .field-group
          label.label Price
          .field
            .control
              input.input(
                type="number" 
                step="0.01", 
                name="price" 
                placeholder="0,00"
                value=`${product.price}`
              )
        .field.is-grouped.is-grouped-right
          .control
            button.button.is-primary(type="submit") Update
        if locals.emptyRow
          p.help.is-danger All required fields should be filled.
