extends ../layout/layout.pug

block content
  section.product-show
    .container.is-max-desktop.has-background-light.p-5.mt-6
      h1.title= product.name
      .field
        h2.is-size-4.has-text-weight-bold Summary
        span.is-size-5= product.summary
      .field
        h2.is-size-4.has-text-weight-bold Price
        span.is-size-5.has-text-success.has-text-weight-bold= `${product.price}$`
      .field
        h2.is-size-4.has-text-weight-bold Detailed description
        span.is-size-5= product.description
      .buttons.mt-6.is-right
        if user && user.isAdmin
          a.button.is-warning.cart-button(href
            =`${routes.substituteParameters(routes.product.edit, product.id)}`
          ) Edit
        button.button.is-info.cart-button(data-id=`${product.id}`) Add to cart
