extends ../layout/layout.pug

append head
  script(src="/assets/scripts/cart-show.js")

block content
  section.show-cart
    if message
      .container.is-max-desktop.mt-5
        article.message.is-primary
          .message-body= message
    #table-wrapper.container.is-max-desktop.has-background-light.mt-6
      h1.title.mb-5 Your cart
      .table-container
        table.is-fullwidth.table
          thead
            tr
              th Name
              th Price
              th Quantity
          tbody
            if cart
              each pair in cart.products
                - let [product, quantity] = pair
                tr.cart-table-row
                  th= product.name
                  th.product-price= product.price
                  th 
                    .is-flex
                      button.button.is-small.quant-decr(data-id 
                        = `${product.id}` 
                      ) -
                      .ml-2.mt-1.mr-2.product-quantity(data-id 
                        = `${product.id}` 
                      )= quantity
                      button.button.is-small.quant-incr(data-id 
                        = `${product.id}` 
                      ) +
      .columns
        .column
          h1.has-text-weight-bold.is-size-4 Sum: 
            span#cart-sum ?
            | $
        .column
          form(action=`${routes.cart.show}`, method="post") 
            .buttons.is-right
              button.button.is-success(type="submit") Place an order
